
body{
    
  background-color:  #24c6dc; /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #24c6dc, #514a9d); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #24c6dc, #514a9d); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
 }
 ul{
        list-style: none;

 }
 .clear{
     clear:both;
 }
.resultlog{
    margin: 8px 8px 0px;
    padding-top:8px; 
    height: 56px;
    text-align: center;
    font-size:16px;
    border: thin solid #fff;
    color: white;
    }
.goodlog{
    font-size: 16px;
    text-align: right;
    padding-right: 8px;
}
.badlog{
    font-size:16px;
    text-align: right;
      padding-right: 8px;
}