

 ul{
        list-style: none;

 }
 .clear{
     clear:both;
 }
.resultlog{
    margin: 0px 4px;
    padding-top:8px; 
    height: 56px;
    width:364px;
    text-align: center;
    font-size:16px;
    color: white;
    }
.goodlog{
    font-size: 16px;
    text-align: right;
    padding-right: 8px;
}
.badlog{
    font-size:16px;
    text-align: right;
      padding-right: 8px;
}